table, tr, td{
    border: 1px solid blue;
}

tr, td{
    padding: 25px;
}

h1{
    border: 2px solid aqua;
    padding-top: 20px;
}

#img{
    position: relative;
    bottom: 300px;
    right: 75px;
    height: 100px;
}

#img2{
    position: absolute;
    height: 15%;
}

body{
    background: aliceblue;
}